@model WebApplication3.Models.Katagori

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Katagori</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KatagoriAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KatagoriAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KatagoriId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
